* {
    font-family: 'Varela Round', sans-serif;
}

.container {
    margin: auto;
    width: 300px;
}

button {
    cursor: pointer;

    transition: color 0.2s;
}

button:hover {
    color: rgb(219, 82, 77);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.edit-time-label {
    display: block;
    font-size: 1.5rem;
    text-align: center;
}

.edit-time {
    margin-top: 0.5rem;
}

.edit-time input {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    border: 2px solid #dedede;
    border-radius: 4px;
}

.edit-time input:focus {
    border-color: rgb(219, 82, 77);
}

h1 {
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;

    transition: color 0.2s;
}

h1:hover {
    color: rgb(219, 82, 77);
}

.timer {
    position: relative;
    height: 300px;
    width: 300px;
}

.timer-label {
    position: absolute;
    height: 300px;
    width: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.timer-svg {
    position: absolute;
    height: 300px;
    width: 300px;
    transform: scaleX(-1);
}

.timer-circle {
    fill: none;
    stroke: none;
}

.timer-path-gray {
    stroke-width: 7px;
    stroke: #dedede;
}

.timer-path-color {
    stroke-width: 7px;
    stroke: rgb(219, 82, 77);
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
}
  